<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <h1 class="display-3 mb-3 animated slideInDown">Contact Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a class="text-body" href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-body" href="#">Pages</a>
        </li>
        <li class="breadcrumb-item text-dark active" aria-current="page">
          Contact Us
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div
      class="section-header text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h1 class="display-5 mb-3">Add New fruit</h1>
      <p>
        Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo
        sed rebum vero dolor duo.
      </p>
    </div>
    <div class="row g-5 justify-content-center">
      <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s"></div>
      <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <p class="mb-4">
          The contact form is currently inactive. Get a functional and working
          contact form with Ajax & PHP in a few minutes. Just copy and paste the
          files, add a little code and you're done.
          <a href="https://htmlcodex.com/contact-form">Download Now</a>.
        </p>
        <form action="/fruits" method="post">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="fruites"
                />
                <label for="name">fruite name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="id"
                  name="id"
                  placeholder="Your Email"
                />
                <label for="email">fruit ID</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="discount"
                  name="discount"
                  placeholder="Your Email"
                />
                <label for="email">discount</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  name="price"
                  placeholder="Your Email"
                />
                <label for="number">price</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="details"
                  name="details"
                  placeholder="details"
                />
                <label for="text">details</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="image"
                  name="image"
                  placeholder="Your Email"
                />
                <label for="file">image</label>
              </div>
            </div>

            <!-- <div class="col-12">
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Leave a message here"
                      id="message"
                      style="height: 200px"
                    ></textarea>
                    <label for="message">Message</label>
                  </div>
                </div> -->
            <div class="col-12">
              <button
                class="btn btn-primary rounded-pill py-3 px-5"
                type="submit"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
