<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <script>
          document.write(new Date().getFullYear());
        </script>
        ©Cosob A
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
          designed hamda <i class="mdi mdi-heart text-danger"></i> by
        </div>
      </div>
    </div>
  </div>
</footer>
