<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Register |cosob - Admin & Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/admin/assets/images/favicon.png" />

    <%- include ('./HeaderStyle') %>
  </head>

  <body class="auth-body-bg">
    <div class="home-btn d-none d-sm-block">
      <a href="/"><i class="mdi mdi-home-variant h2 text-white"></i></a>
    </div>
    <div>
      <div class="container-fluid p-0">
        <div class="row g-0">
          <%- body %>

          <div class="col-lg-8">
            <div class="authentication-bg position-relative">
              <div class="bg-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ('./VendorScript') %>

    <script src="/admin/assets/js/app.js"></script>
  </body>
</html>
