<div style="width: 100%; height: 15rem"></div>

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="about-img">
          <img
            src="/web/assets/img/menu/club-sandwich-6.jpg"
            alt=""
            style="width: 42rem; height: 38rem"
          />
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>
          Cosob Meals Waa meherad diyaarisa casuumadaha iyo cuntooyinka fudud
          goobkasta iyo goorkasta ood jeceshayhay
        </h3>
        <p class="fst-italic">
          waxa ay cuntada kuugu diyaarinaysaa qaabkasta iyo xadi kasta oo aad
          jeceshay. <span><h3>dalabadka aad heli karta</h3></span>
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Diyaarinta casuumada goobkasta
            iyo xadi kasta
          </li>

          <li>
            <i class="bi bi-check-circle"></i> Dalabaadka cuntooyinka fudud
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            Diyaarinta macmacaanada xafladaha
          </li>
        </ul>
        <p>
         Cosob Meals waa meherada kaliya ee kuugu diyaarinaysa casuumadahaaga goobkasta oo aad jeceshay xadiga aad
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Chefs</h2>
      <p>Our Proffesional Chefs</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
          <img
            src="/web/assets/img/chefs/chefs-1.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Walter White</h4>
              <span>Master Chef</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <img
            src="/web/assets/img/chefs/chefs-2.jpg"
            class="img-fluid"
            alt=""
          
          />
          <div class="member-info">
            <div class="member-info-content">
              <h4>cosob axmed deeq</h4>
              <span>chef</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="300">
          <img
            src="/web/assets/img/chefs/chefs-3.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-info">
            <div class="member-info-content">
              <h4>William Anderson</h4>
              <span>Cook</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Chefs Section -->
