<div style="width: 100%; height: 15rem"></div>

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2  style="color: rgb(255, 255, 255);">Gallery</h2>
      <p style="color: rgb(181, 99, 6);">Some photos from Our Meals</p>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0">
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-1.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-1.jpg"
              alt=""
              class="img-fluid"
              style="width: 30rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-2.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
            style="width: 30rem; height: 25rem"
          >
            <img
              src="/web/assets/img/gallery/gallery-2.jpg"
              alt=""
              class="img-fluid"
              style="width: 30rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-3.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
            style="width: 30rem; height: 25rem"
          >
            <img
              src="/web/assets/img/gallery/gallery-3.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-4.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-4.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-5.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-5.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-6.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-6.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-7.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-7.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-8.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-8.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-9.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-9.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-10.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-10.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-11.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-11.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-12.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-12.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-13.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-13.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-14.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-14.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-15.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-15.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
   
      
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-17.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-17.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-23.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-23.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-22.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-22.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-20.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-20.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="/web/assets/img/gallery/gallery-21.jpg"
            class="gallery-lightbox"
            data-gall="gallery-item"
          >
            <img
              src="/web/assets/img/gallery/gallery-21.jpg"
              alt=""
              class="img-fluid"
              style="width: 35rem; height: 25rem"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Gallery Section -->
