<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div
    class="container position-relative text-center text-lg-start"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to <span>cosob meals</span></h1>
        <h2>free delevery and good quality!</h2>

        <div class="btns">
          <a href="/menu" class="btn-menu animated fadeInUp scrollto"
            >Our Menu</a
          >
          <a href="/order" class="btn-book animated fadeInUp scrollto"
            >Book a Table</a
          >
        </div>
      </div>
      <div
        class="col-lg-4 d-flex align-items-center justify-content-center position-relative"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <a
          href="https://www.youtube.com/watch?v=GlrxcuEDyF8"
          class="glightbox play-btn"
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Why Us</h2>
        <p style="color: rgb(143, 97, 16);">Why Choose Our Restaurant</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Tayada</h4>
            <p>
              waxa aad ku kalsoonaan kartaa tayada aanu kuugu diyaarinayno
              casuumadaha iyo cunoyinka fudud
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>dagdagsiimaha</h4>
            <p>
              waxa aanu kuugu diyaarinaynaa cunta goobkasta oo aad jeclaysato
              wakhtiga aad dalbato.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4>qurxinta</h4>
            <p>
              waxa laguugu qurxinayaa dalabkaaga hab cajiiba aniga oo
              aadeegsanayn qalab ugaar ah casuumadaha uguna casrigan
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>costemer</h2>
        <p>What they're saying our claints</p>
      </div>

      <div
        class="testimonials-slider swiper-container"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                waxa ay iga caawisay ina aan si cajiiba uqursito maalmahayga
                qaaska ah. waxa aan oran lahaa cosom meals waa meherad wakhti ku
                munaasiba aanu helnay
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="/web/assets/img/testimonials/testimonials-1.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>saynab maxamed saleebaan</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                waxa ay naga caawisay cosob meals in dalxiiskayaga ku lamaanaado
                casuumad iyo cunooyin fudud oo soo jiidasho leh ku lamaanayso.
                wan bogaadinayaa meheradan cusub.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="/web/assets/img/testimonials/testimonials-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>khaalid mustafe</h3>
              <h4>Tourest</h4>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                cosob meals waa goobta kaliya ee aan ku lasoonahay
                casuumadahayga qaaska ah in ay iigu sameeyaa qaab ifarxad galiya
                maalintaydana qaas ka dhiga
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="/web/assets/img/testimonials/testimonials-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>ceebla cabdilaahi</h3>
              <h4>Store Owner</h4>
            </div>
          </div>
          <!-- End testimonial item -->
          
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="/web/assets/img/testimonials/testimonials-5.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
</main>
<!-- End #main -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
