<div style="width: 100%; height: 15rem"></div>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
      <p style="font-size: 1.5rem; color: rgb(144, 135, 135)">
        waaxa aad nagalasoo xidhiidhi kartaasi
      </p>
    </div>
  </div>

  <div data-aos="fade-up"></div>

  <div class="container" data-aos="fade-up">
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>jigjiga yar isgoyska dabay-mara Hargaisa somaliland</p>
          </div>

          <div class="open-hours">
            <i class="bi bi-clock"></i>
            <h4>Open Hours:</h4>
            <p>
              Saturday-friday:<br />
              11:00 AM - 2300 PM
            </p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>xamdaaxmed2019@.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+252-63-4307013</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">
        <form
          action="/admin/order"
          method="post"
          role="form"
       
        >
          <div class="row">
         
            <div class="col-md-3 form-group">
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                value="<%#= menu.name %>"
                placeholder="name"
                required
              />
            </div>
            <div class="col-md-3 form-group">
              <input
                type="number"
                name="number"
                class="form-control"
                id="number"
                value
                placeholder="How many you want"
                required
              />
            </div>
            <div class="col-md-3 form-group mt-3 mt-md-0">
              <input
                type="text"
                class="form-control"
                name="delivery"
                value="<%#= menu.deliveryType %>"
                placeholder="delivery type"
                required
              />
            </div>
            <div class="col-md-3 form-group mt-3 mt-md-0">
              <input
                type="text"
                class="form-control"
                name="phone"
               
                placeholder="phone Namber"
                required
              />
            </div>
          </div>

          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="8"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

