<div style="width: 100%; height: 15rem"></div>

<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Specials</h2>
      <p>Check Our Specials Ordors</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1"
              >Health dishes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">desert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3"
              >ethopian food</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4"
              >Indian food</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5"
              >full packages</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>health fitnes foods</h3>
                <p class="fst-italic">
                  waxa aanu si qaasa udiyaarinaa cuntooyin uwanaagsan
                  caafimaadka oo aanu kaliyaata dalabaad ku samayno
                </p>
                <p>
                  waxa aad aanu kuu diyaarinayaa cuntooyin ugaar ah dadka
                  macaanka qaba, dhiigarka iyo sobagawga dhanka kale waxa aan u
                  si maalinle ah udiyaarinaa cuntooyin loogu tala galay dadka
                  gymka ciyaara iyo hablaha miisan dhimista ku jira
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="/web/assets/img/specials-5.jpg"
                  alt=""
                  class="img-fluid"
                  style="border-radius: 50%; width: 18rem; height: 18rem"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Macmacaano fudud</h3>
                <p class="fst-italic">
                  waxa kuugu diyaara Cosob meals Macmacaano fudud oo aad dalban
                  karto goorkasta
                </p>
                <p>
                  xadiga aad jeceshay ayaa laguugu diyaarinayaa hab dalab ah
                  waxa aanu kuugu diyaarinayaa qalab kuu sahlaaya in aad
                  goobkasta uqaadan kartid iyada oo aanay kaa lumahayn quruxdii
                  lugu diyaariyay
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="/web/assets/img/specials-6.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>ethopian food</h3>
                <p class="fst-italic">
                  ethopian food kala nooc ah iyo luguugu diyaarinaa
                </p>
                <p>
                  cunto dhaqameedka uu ku caanyahay wadanka ethopia sida
                  canjeelo xabashidii oo aanay ka maqnayn in aanu kuugu
                  diyaarino qalabkii dhaqanka u ahaa waliba hab cajiiba
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="/web/assets/img/specials-2.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>cuntooyinka ugu caansan india</h3>
                <p class="fst-italic"></p>
                <p>
                  waa cuntooyin fudud oo kuu suurta galinayaa in aad goobkasta
                  uqaadan kartid kuna qurxisan kartid madalahaaga, goorkastana
                  la cuni karo. <br />
                  iyada oo aanay ka maqnayd soups ay caan ku yihiin cunto
                  indianku
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="/web/assets/img/specials-1.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>waa full packages wada socda</h3>
                <p class="fst-italic">
                  waa cuntooyin dhamays tiran oo isugu jira dhawr nooc
                </p>
                <p>
                  packages dhamaystiran ayaad dalban kartaa sida cuntooyinkii
                  fududaa oo wata chipskoodii sharaabkoodii iyo soupskoodii
                  <br />
                  waxa aanu kuu suuragalinayaa madal kasta in aanu kuugu qurxino
                  cunto cajiiba
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="/web/assets/img/specials-3.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Specials Section -->
