<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quickeat - index</title>
  <link rel="icon" href="/assets/img/fav-icon.png" />
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  <!-- owl carousel -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />
  <!-- nice-select -->
  <link rel="stylesheet" href="/assets/css/nice-select.css" />
  <!-- aos -->
  <link rel="stylesheet" href="/assets/css/aos.css" />
  <!-- style -->
  <link rel="stylesheet" href="/assets/css/style.css" />
  <!-- responsive -->
  <link rel="stylesheet" href="/assets/css/responsive.css" />
  <!-- color -->
  <link rel="stylesheet" href="/assets/css/color.css" />

  <!-- Font Awesome 5 -->
  <script
    src="https://kit.fontawesome.com/27a041baf1.js"
    crossorigin="anonymous"
  ></script>
</head>
