<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <div>
              <img
                src="/web/assets/img/company-logos/6.png"
                class="logo me-auto me-lg-0"
                style="width: 12rem; height: 8rem"
              />
            </div>
            <p style="font-size: 1.2rem">
              jigjiga yar isgoyska dabay-maray <br />
              Hargaisa somaliland<br /><br />
              <strong>Phone:</strong> +252-63-4307013<br />
              <strong>Email:</strong> xamdaaxmed2019@.com<br />
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a
                href="https://www.facebook.com/xamda.axmed.1481?mibextid=ZbWKwL"
                class="facebook"
                ><i class="bx bxl-facebook"></i
              ></a>
              <a
                href="https://www.facebook.com/profile.php?id=100075786922196"
                class="instagram"
                ><i class="bx bxl-instagram"></i
              ></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-links" style="margin-top: 4rem; padding-left: 8rem;">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="/about">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="/menu">Menu</a>
            </li>

            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter"  style=" margin-top: 2.6rem; padding-left: 2rem; ">
          <h3>Waa noo mihim talo bixintaadu</h3>
          <p>
            waxa aad halkan noogu reebi kartaa faalo kasta oo aad qabtid adiga
            oo cabiraaya aragtidaa anaguna waa aanu kuu tixgalin
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Xamda Axmed Diiriye</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
      developing <a href="https://www.facebook.com/xamda.axmed.1481?mibextid=ZbWKwL">xamda axmed diiriye</a>
    </div>
  </div>
</footer>

<!-- <a href="https://bootstrapmade.com/"></a> -->
